<style>
    body {
        background-color: black;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass IMDb | 500 error</title>
</head>
<style>
    body {
        background-color: black;
    }

    #headerText {
        font-family: 'Oswald', sans-serif;
        color: white;
        text-align: center;
    }
</style>
<body>
    {% extends 'base_header2.html' %}

    {% block content %}

    <h1 id='headerText'> Sorry something went wrong on our end, Please head back to our Homepage.</h1>
    {% endblock %}
</body>

</html>