<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
    #headerHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        height: 75px;
        background-color: rgb(124, 218, 189);
    }

    #form {
        font-family: 'Oswald', sans-serif;
    }

    #signupLogin {
        display: flex;
        align-items: center;
        font-family: 'Oswald', sans-serif;
        position: relative; left: -140px;
    }

    #username {
        margin: 0 0 0 0;
    }

    #logout {
        margin: 0 0 0 0;
        color: black;
    }

    a {
        text-decoration: none;
    }

    #logo {
        font-family: 'Oswald', sans-serif;
        color: black;
        position: relative; left: -140px;
    }

    #login {
        color: black;
    }

    #signup {
        color: black;
    }

    #user {
        color: black;
    }

    #profilePic {
        width: 50px;
        margin: 0 10px 0 0;
        border-radius: 35px;
    }
</style>
<div id=headerHolder>
    {% if request.user.is_authenticated %}
    <div id='signupLogin'>
        {% if request.user.user_image %}
            <img id='profilePic' src='{{request.user.user_image.url}}' alt='picture of {{request.user.username}}' />
        {% endif %}
        <h2 id='username'><a href="/user/{{request.user.id}}/" id='user'>{{request.user.display_name}}'s Profile</a>  / </h2>
        <a href='/logout/'>
            <h2 id='logout'>  Logout</h2>
        </a>
    </div>
    {% else %}
    <div id='signupLogin'>
        <a href='/signup/' id='signup'>Sign Up / </a>
        <a href='/login/' id='login'> Login</a>
    </div>
    {% endif %}
    <div id='logoName'>
        <a href='/'>
            <h1 id='logo'>GLASS IMDb</h1>
        </a>
    </div>
    <div id='takenUpSpace'>
        
    </div>
</div>
{% block content %}
{% endblock %}