<style>
    #resultsDisplay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movieInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        background-color: aqua;
        width: 20%;
    }

    .moviePoster {
        width: 200px;
    }
</style>

{% extends 'base_header.html'%}

{% block content %}
    <div id='resultsDisplay'>
    <h1>HELLO TEAM GLASS!</h1>
   {% for movie in movie_info %}
    <div class='movieInfo'>
        {% if movie.title%}
            <h2 class='movieTitle'>{{movie.title}}</h2>
        {% endif %}
        {% if movie.poster %}
           <a href='/details/{{movie.id}}/'><img src={{movie.poster}} alt={{movie.title}} class="moviePoster"/></a>
        {% endif %}
        {% if movie.year %}
            <h3 class="movieYear">{{movie.year}}</h3>
        {% endif %}
    </div>
   {% endfor %}
    </div>
{% endblock%}