<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    body {
        background-color: black;
    }

    #resultsDisplay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movieInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
        background-color: rgb(124, 218, 189);
        width: 20%;
        margin: 15px 0 15px 0;
        border-radius: 10px;
        -webkit-box-shadow: -5px 5px 9px 3px rgba(255, 255, 255, 0.247); 
        box-shadow: -5px 5px 9px 3px rgba(255, 255, 255, 0.253);
    }

    .moviePoster {
        width: 200px;
    }

    .movieTitle {
        font-family: 'Oswald', sans-serif;
    }

    .movieYear {
        font-family: 'Oswald', sans-serif;
    }

    #pageTitle {
        font-family: 'Oswald', sans-serif;
        color: white;
    }

    .posterText {
        font-family: 'Oswald', sans-serif;
    }
</style>

{% extends 'base_header.html'%}

{% block content %}
    <div id='resultsDisplay'>
    <h1 id='pageTitle'>Search Results</h1>
   {% for movie in movie_info %}
    <div class='movieInfo'>
        {% if movie.title %}
            <h2 class='movieTitle'>{{movie.title}}</h2>
        {% endif %}
        {% if movie.poster %}
           <a href='/details/{{movie.id}}/'><img src={{movie.poster}} alt={{movie.title}} class="moviePoster"/></a>
        {% else %}
            <h2 class="posterText">NO POSTER AVAILABLE</h2>
        {% endif %}
        {% if movie.year %}
            <h3 class="movieYear">{{movie.year}}</h3>
        {% endif %}
    </div>
   {% endfor %}
    </div>
{% endblock%}
